@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
body {
 font-family: 'Montserrat', sans-serif;
}
/* menu di sinistra */
.margin-bottom {
  margin-bottom: 20px;
}
h6 {
  font-size: 11px;
}
.sup {
  display: flex;
  background-color: black;
  height: calc(100vh - 100px);
  width: 100%;
  color: #a3a3a3;
}
.sup-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100%;
  padding: 0% 20px;
}
.logo {
  display: block;
  margin: 20px 0px ;
}
.sup-menu ul, .intestazione ul li a{
  list-style: none;
  padding: 0px;
}
.sup-menu ul img {
  margin-right: 5px;
  max-width: 30px;
  color: #a3a3a3;
}
.sup-menu a, .track-share a {
  text-decoration: none;
  color: #a3a3a3;
}
.sup-menu a:hover, .track-share a:hover {
  color: white;
}
.menu-li {
  padding-left: 2px;
}
li .menu-li:focus, li .menu-li:hover {
  border-left: 2px solid #adff2f;
  padding: 1.2rem 0;
}
.sup-menu h4 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.sup-menu .plus {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #a3a3a3;
  color: black;
  line-height: 40px;
  margin-right: 5px;
  font-size: 25px;
}
.playlist:hover .plus {
  background-color:  white;
}
.playlist:hover {
  color: white;

}
.sup-menu_down {
  flex-basis: 200px;
  flex-grow: 1;
}
.sup-menu_down i {

}
.scroll {
  overflow: auto;
}
.install-signin {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.install-signin  img {
  width: 25px;
  height: 25px;
}
.install {
  padding-bottom: 10px;
  border-bottom: 1px solid #a3a3a3;
}
.signin {
  padding: 10px 0px;
}
.profile {
  background-color: #a3a3a3;
  border-radius: 50%;
  padding: 1px;
}
/* parte centrale pagina */
.sup-main {
  background-color: #141922;
  width: calc(100% - 200px);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.call-to-action {
  background-color: rgba(8, 11, 18,0.9);
  height: 100px;
  width: calc(100vw - 200px);
  position:fixed;
  z-index: 10;
  top: 0;
}
.p-r {
  position: relative;
  width: calc(100vw - 200px);
  height: 100%;
}
.bottone {
  padding: 1rem 2rem;
  border: 2px solid white;
  border-radius: 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}
.bottone:hover {
  color: white;
  text-decoration: none;
}
.c-t-a-b{
  float: right;
  margin-right: 40px;
  line-height: 100px;
  width: max-content;
  transition: all 0.1s ease-in-out;
}
.c-t-a-b:hover {
  transform: scale(1.2);
}
.intestazione {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.intestazione ul li {
  display: inline-block;
  margin-right: 5px;
}
.intestazione ul {
  padding:0px;
  margin:0;

}
.intestazione ul li:last-child {
  margin-right: 0;
}
.intestazione ul li a {
  text-transform: uppercase;
  color: #a3a3a3;
}
.a-intestazione {
  position: relative;
}
.a-intestazione:hover,.a-intestazione:focus {
  text-decoration: none;
}
.intestazione_hover {
  display:none;
  position: absolute;
  z-index: 100;
  top:100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #adff2f;
  width: 40px;
  height: 2px;
}
.a-intestazione:hover, .a-intestazione:focus,  {
  text-decoration: none;
  color: white;
}
.a-intestazione:focus .intestazione_hover,.a-intestazione:hover .intestazione_hover  {
  display: block;
}
.main-page {
  background-color: #121212;
  padding: 0 1%;
}
.main-page_row {
  display: flex;
  flex-direction: column;
}
.main-page_row h2, .card h3{
  color: white;
  font-weight: bold;
}
.card h3 {
  font-size: 1.2rem;
}
.many-card {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.card {
  display: inline-block;
  width: 15%;
  margin-right: 1%;
  padding: 10px;
  background-color: #141414;
  border-radius: 4px;
}
.card:hover{
  background-color: #272727;
}
@media screen and (min-width:993px) and (max-width:1200px)  {
  .card {
    width: 20%;
  }
}
@media screen and (min-width:768px) and (max-width:992px)  {
  .card {
    width: 49%;
  }
}
@media screen and (max-width:768px)  {
  .card {
    width: 49%;
  }
  .sup-menu {
    width: 50px;
    padding:0 1%;
    text-align: center;
  }
  .sup-menu ul img {
    margin: 0 auto;
  }
  .call-to-action {
    width: calc(100vw - 50px);
  }

  .sup-main {
    width: calc(100% - 30px);
  }
  .install {
    border: 0px;
  }
}

.card-img {
  max-width: 100%;
  position: relative;
  
}
.card-img>a {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.layover {
  /* display: none; */
  height: 0%;
  width: 100%;
  background-color: rgba(0,0,0,0.0);
  font-size: 5rem;
  color: white;
  transition: all ease-in-out 0.4s;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: -1;
}
.layover i {
  align-self: center;
  background: #1db954;
  border-radius: 50%;
  font-size: 1.3rem;
  padding: 1.5rem;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.card:hover i{
opacity: 1;
}
.card:hover a .layover {
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
}
.card-img_1{
  border-radius: 5px;
}
.rounded {
  border-radius: 50%;
}
.card-img_4 {
  width: 50%;
}
.card-img_1 {
  width: 100%;
}
.main-page_row>h6 {
  margin-top: 0px;
}
/* parte sotto */
.player {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 100px;
  width: 100vw;
  background-color: #282828;
  position: relative;
  z-index: 100;
}
.player div {
  align-self: center;
  color: white
}
.track,.option {
  flex-basis: 35%;
}
.track {
  display: flex;
  justify-content:space-between;
}
.track h4 {
  font-weight: bolder;
}
.track_info {
  display: flex;
  flex-grow: 1;
}
.track_info img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
.track-share {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: flex-start;
}
.track-share a:first-child{
  margin-right: 2px;
}
.title {
  display: flex;
  flex-direction: column;
}
.title a span {
  color: #6e6e6e;
}
.title a:hover h5, .title a:hover {
  color: white;
}
.player .mediastation {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 30%;
}
.mediastation>.mediastation-control {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.mediastation-control>* {
  margin: 5px;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.mediastation-control a:hover{
  text-decoration: none;
}
.mediastation>.mediastation-control>* {
  align-self: flex-end;

}

.mediastation-control a, .option a {
  color:white;
  font-size: 2rem;
}
.mediastation-control a:last-child, .option>a:last-child {
  margin-right: 0px;
}
.mediastation-control .onclicl:hover {
  font-size: 2.4rem;
}
.mediastation>div{
  flex: 1;
  width: 100%;
}
.icon-list {
  flex-grow: 0.3;
  display: flex;
  justify-content: space-evenly;
}
.icon-list{

}
.line-progresbar {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}
.line-progresbar>*{
  align-self: center;
}
.line-progresbar>a:first-child{
  margin-right: 1px;
}
.option .progresbar {
  margin-right: 0;
}
.progresbar {
  height: 25%;
  flex-basis: 80%;
  background-color: #5a5a5a;
  border-radius: 2%;
  align-self: center;
  height: 5px;
  border-radius: 5px;
}
.round {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lightgray;
  display: none;
}
.progresbar-complete {
  width: 40%;
  background-color: white;
  height: 100%;
  border-radius: 2px;
  position: relative;
}
.progresbar:hover .progresbar-complete {
  background-color: #adff2f;
}
.progresbar:hover .round {
  display: block;
}
.option {
  display: flex;
  justify-content: flex-end;
}
.option>* {
  align-self: center;
}
.option>a {
  flex-basis: 5%;
}

.option .line-progresbar {
  flex-basis: 40%;
  display: flex;
}
.mediastation-control .onclicl:active {
  font-size: 2rem;
}